<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Branch Info
        </title>
        <link rel="stylesheet" href="stylesheets/default.css">
        <link rel="stylesheet" href="stylesheets/branch.css">
        <!-- Put the specific stylesheet for your page here
        <link rel="stylesheet" href="stylesheets/style.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="javascripts/branch.js" defer></script>
        <!--put the specific script for your page above by renaming the path away from default.js

        -->
    </head>
    <body>
        <div id="app">
            <header>
                <a href="/">
                    <div class="logo">
                        <img src="/images/homepage-1.png" alt="Serenity Sanctuary Logo">
                    </div>
                </a>
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Support Us</a></li>
                        <li class="dropdown">
                            <a href="/branch">Branches</a>
                            <ul class="dropdown-content">
                                <li><a href="/branch">Branch 1</a></li>
                                <li><a href="/branch">Branch 2</a></li>
                                <li><a href="/branch">Branch 3</a></li>
                                <li><a href="/branch">Branch 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Join a Branch</a></li>
                    </ul>
                </nav>
                <div class="auth-buttons">
                    <a href="#" class="login">Log In</a>
                    <a href="#" class="donate">Sign Up</a>
                </div>
            </header>

            <section class="pageTop">
                <div class="titleWrap">
                    <h1 class="pageTitle">
                        Latest News
                    </h1>
                </div>
            </section>

            <section class="content">
                <p>All posts</p>
                <div v-for="(post, index) in posts">
                    <div class="postWrapper">
                        <div class="post">
                            <button type="button" v-if="post.RSVP" v-on:click="RSVP">
                                RSVP
                            </button>
                            <h2>{{ post.title }}</h2>
                            <sub> Event Time: {{ post.timestamp }} {{ post.date }} </sub>
                            <div class="hrWrapper"><hr></div>
                            <p> {{ post.description }}</p>
                            <div class="hrWrapper"><hr></div>
                            <p> Location: {{ post.location }} </p>
                            <sub> Contact: {{ post.email_id }} </sub>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <div class="join">
                    <h2>Join Serenity Sanctuary</h2>
                    <p>Support Our Cause</p>
                    <button type="button">Sign Up</button>
                </div>
                <div class="footer-content">
                    <div class="contact-info">
                        <h3>Serenity Sanctuary</h3>
                        <p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph.</p>
                        <p>Email: info@mysite.com</p>
                        <p>Phone: 123-456-7890</p>
                        <p>Registered Charity: 12345-67</p>
                    </div>
                    <div class="newsletter">
                        <h3>Get Monthly Updates</h3>
                        <input type="email" placeholder="Enter your email here *">
                        <button type="button">Sign Up!</button>
                    </div>
                    <div class="quick-links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Support Us</a></li>
                            <li><a href="#">Branches</a></li>
                            <li><a href="#">Join a Branch</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>