<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Join a Branch
    </title>
    <link rel="stylesheet" href="stylesheets/default.css">
    <link rel="stylesheet" href="stylesheets/joinBranch.css">
    <!-- Put the specific stylesheet for your page here
        <link rel="stylesheet" href="stylesheets/style.css">
        -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/joinBranch.js" defer></script>
    <!--put the specific script for your page above by renaming the path away from default.js

        -->
</head>

<body>
    <div id="app">
        <header>
            <a href="/">
                <div class="logo">
                    <img src="images/homepage-1.png" alt="Serenity Sanctuary Logo">
                </div>
            </a>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/support">Support Us</a></li>
                    <li class="dropdown">
                        <a href="/branch">Branches</a>
                        <ul class="dropdown-content">
                            <li><a href="/branch">Branch 1</a></li>
                            <li><a href="/branch">Branch 2</a></li>
                            <li><a href="/branch">Branch 3</a></li>
                            <li><a href="/branch">Branch 4</a></li>
                        </ul>
                    </li>
                    <li><a href="/joinBranch">Join a Branch</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a v-if="loggedIn" href="/settings" class="donate">Settings</a>
                <a v-if="!loggedIn" href="/login" class="login">Log In</a>
                <a v-if="!loggedIn" href="/signup" class="donate">Sign Up</a>
            </div>
        </header>

        <section class="branchJoin">
            <div class="formWrapper">
                <form v-if="loggedIn">
                    <h1>Sign up for Email Updates</h1>
                    <p>Join a branch to get branch specific event information on your homepage.</p>
                    <sub>Branch Name</sub>
                    <div>
                        <input type="text" placeholder="" v-model="branchName">
                    </div>
                    <div>
                        <button type="button" v-on:click="getLogIn()">Join</button>
                    </div>
                </form>
            </div>
        </section>

        <footer>
            <div class="join">
                <h2>Join Serenity Sanctuary</h2>
                <p>Support Our Cause</p>
                <button type="button">Sign Up</button>
            </div>
            <div class="footer-content">
                <div class="contact-info">
                    <h3>Serenity Sanctuary</h3>
                    <p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph.</p>
                    <p>Email: info@mysite.com</p>
                    <p>Phone: 123-456-7890</p>
                    <p>Registered Charity: 12345-67</p>
                </div>
                <div class="newsletter">
                    <h3>Get Monthly Updates</h3>
                    <input type="email" placeholder="Enter your email here *">
                    <button type="button">Sign Up!</button>
                </div>
                <div class="quick-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Support Us</a></li>
                        <li><a href="#">Branches</a></li>
                        <li><a href="#">Join a Branch</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>