<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign Up
    </title>
    <link rel="stylesheet" href="stylesheets/default.css">
    <link rel="stylesheet" href="stylesheets/signup.css">
    <!-- Put the specific stylesheet for your page here
        <link rel="stylesheet" href="stylesheets/style.css">
        -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/signup.js" defer></script>
    <!--put the specific script for your page above by renaming the path away from default.js

        -->
</head>

<body>
    <div id="app">
        <!-- Header section -->
        <header>
            <a href="/">
                <div class="logo">
                    <img src="images/Logo.jpg" alt="Green Agenda Logo">
                    <p style = "color:white">GreenAgenda</p>
                </div>
            </a>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/support">Support Us</a></li>
                    <li><a href = "/community">Community</a></li>
                    <li><a href="/signup">Join Us</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="/signup" class="signup">Sign Up</a>
                <a href="/login" class="login">Login</a>
            </div>
        </header>

        <section style="padding-top: 4vh;">

        </section>

        <section class="sign_up">
            <div class = "signup-box">
            <div class="center">
                <h1 class="title">Sign Up</h1>
                <sub class="redirect">Already a member? <a class="redirlink" href="/login">Log In</a></sub>
                <div>
                    <input type="text" placeholder="First Name" v-model="firstName">
                    <input type="text" placeholder="Last Name" v-model="lastName">
                    <input type="text" placeholder="Email" v-model="email">
                    <input type="text" placeholder="Password" v-model="password">
                    <input class="phone" type="text" placeholder="Phone" v-model="phone">
                    <input type="text" placeholder="Street Number" v-model="streetNumber">
                    <input type="text" placeholder="Street Address" v-model="streetAddress">
                    <input type="text" placeholder="City" v-model="city">
                    <input type="text" placeholder="Region/State/Province" v-model="state">
                    <input type="text" placeholder="Postal/Zip Code" v-model="postCode">
                </div>
                <br>
                <div class="specialWrapper">
                    <button class="special" type="button" @click="signUp">Sign Up</button>
                </div>
            </div>
            </div>
        </section>

        <!-- Footer section -->
        <footer>
            <div class="join">
                <h2>Join Serenity Sanctuary</h2>
                <p>Support Our Cause</p>
                <button type="button">Sign Up</button>
            </div>
            <div class="footer-content">
                <div class="contact-info">
                    <h3>Serenity Sanctuary</h3>
                    <p>Become a part of this wonderful community!</p>
                    <p>Email: info@mysite.com</p>
                    <p>Phone: 123-456-7890</p>
                    <p>Registered Charity: 12345-67</p>
                </div>
                <div class="newsletter">
                    <h3>Get Monthly Updates</h3>
                    <input type="email" placeholder="Enter your email here *">
                    <button type="button">Sign Up!</button>
                </div>
                <div class="quick-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/support">Support Us</a></li>
                        <li><a href="/community">Community</a></li>
                        <li><a href="/joinBranch">Join a Branch</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>