#belief{
    padding-top:10vh;
    padding-bottom:8vh;
    text-align:center;
    font-size:34px;
    color:white;
    line-height:normal;
    letter-spacing:normal;
    background-color:rgb(190, 61, 104);
    font-style: italic;
}

#join_us{
    padding-top:8vh;
    font-family:Arial,Helvetica,sans-serif;
    text-align:center;
    font-size:34px;
    color:white;
    line-height:normal;
    background-color:#4fd611;
    font-style: italic;
    padding-bottom:8vh;

}

#join_us button{
    background-color:white;
    color:black;
    font-size:20px;

}

#join_us button:hover{
    background-color:rgba(30, 19, 158, 0.834);
    color : white;

}


.mission_text{
    text-align:center;
    width:40em;
    height:30.88em;
    font-size:larger;
    padding:15vh;
    font-family:Arial, Helvetica, sans-serif;
}

.vision_text{
    text-align:center;
    width:40em;
    height:30.88em;
    font-size:larger;
    padding:15vh;
    font-family:Arial, Helvetica, sans-serif;
}

.vision_image{
    width:50vw;
    height:50vh;
    padding-left:3vh;


}

.mission_image{
    width:44vw;
    height:50vh;
    padding-right:2vh;
}