section.pageTop{
    background-color: rgb(63, 120, 227);
    padding-top: 6.5vh;
    min-height: 40vh;
}
section div.titleWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    min-height: 1vh;
}

h1.pageTitle{
    display: flex;
    flex-wrap: wrap;
    font-size: 10vh;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.content {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.content> *{
    padding-top: 5vh;
}

.content .postWrapper{
    border: solid red;
    border-radius: 5vh;
    padding: 5vh;
}

.content .postWrapper .post h2{

}

.content .postWrapper .post sub{

}

.content .postWrapper .post p{

}
