.sign_up {
    padding: 10vh 30vw 3vh 30vw;
    justify-content: center;
    background-image : url("../images/signup.jpg")
}

.center {
    text-align: center;
}


.sign_up *{
    text-align: center;
}

.signup-box {
    width : 650px;
    height : 500px;
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.title {
    font-size: 3vw;
    color: #023E2D;
}

.redirect {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.redirlink {
    color: #023E2D;
    font-weight : bold;
}

div.center div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    justify-content: space-around;
}

div.center div p {
    text-align: left;
    padding-top: 5vh;
}

div.center div input {
    padding: 3vh 0 0.5vh 0;
    width: 17.5vw;
    border: none;
    border-bottom: solid lightgray;
}

div.center div input.phone {
    width: 37.5vw;
    text-align: left;
}

.specialWrapper {
    padding-bottom: 5vh;
}

.special{
    min-height: 3vh;
    font-size: 1.5vw;
    width: 20vw;
}